@import url('fonts.css');

* {
    margin: 0;
}

body {
    font-family: 'Rubik', sans-serif;
    width: 100%;
    overflow-x: hidden;
    background-repeat: no-repeat;
}

::selection {
    color: white;
    background: #472D2D;
}

header {
    width: 100%;
}

#logo {
    float: left;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 80px;
    /* height: 80px; */
    /* margin-left: 100px; */
    margin-right: 15px;
}

.nav_strap {
    z-index: 4;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    height: 90px;
    position: fixed;
    top: 0;
    transition-duration: 0.2s;
    backdrop-filter: blur(3px);
}

.hide {
    top: -90px;
}

.hidden {
    visibility: hidden;
}

.navigator_tab {
    width: 75%;
    margin: 0 auto;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
}

.link {
    display: flex;
    height: 90px;
    align-items: center;
    margin: 0 12.5px;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.spilled-coffee-beans{
    background-position: 0% 100%;
    background-size: 100em;
    background-repeat: repeat;
    width: 100%;
    height: 700px;
}

footer {
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 1;
    z-index: 2;
    margin-top: -50px;
    /* Junky ale działa */
}

footer .strap {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
    font-size: 1.125rem;
    height: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(3px);
}

.sketchy {
    margin-bottom: 20px;
    display: inline-block;
    border: 3px solid #333333;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    background: #ffffff;
    position: relative;
    /* z-index: 3; */

    &::before {
        content: "";
        /* z-index: 3; */
        border: 2px solid #353535;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
        border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
    }
}

.subpage-section-one {
    width: 100%;
    height: 1000px;
    margin-top: -160px;
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-attachment: fixed;
}

.subpage-section-one img {
    width: 500px;
    margin-top: 300px;
    box-shadow: 0px 9px 10px 5px black;
}

.polygon {
    margin-top: -160px;
    position: absolute;
    top: 600px;
    width: 100%;
    height: 421px;
    background-color: white;
    clip-path: polygon(0% 56%, 4% 64%, 10% 63%, 14% 66%, 19% 66%, 23% 65%, 26% 68%, 31% 69%, 36% 68%, 40% 67%, 45% 69%, 45% 69%, 51% 69%, 55% 68%, 59% 70%, 62% 70%, 68% 70%, 75% 70%, 77% 69%, 80% 69%, 85% 72%, 89% 71%, 92% 70%, 95% 71%, 97% 69%, 100% 67%, 100% 100%, 0% 100%);
}

.To-top {
    width: 65px;
    height: 65px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
    font-weight: 600;
    background-color: rgba(245, 245, 245, 0.7518);
    border-radius: 100%;
    box-shadow: 6px 6px 17.5px black;
    text-decoration: none;
    color: black;
    transition: 0.5s ease-in-out;
}
.To-top:hover{
    background-color: rgba(245, 245, 245, 1);
}
.totophide{
    transition-duration: 5s;
    display: none;
}
img::selection {
    background: #979797a2;
}

.logo::selection {
    background: none;
}

.subpage-section-two {
    width: 100%;
    /* height: 1500px; */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.subpage-section-two h1 {
    font-size: 3rem;
    color: black;
    margin: 100px 0px 50px;
}

ol {
    font-size: 1.6rem;
}

li {
    margin: 5px 0;
}
.push{
    margin-left: 0px;
}
li span {
    margin: 0 40px;
}

iframe {
    margin: 10px;
    width: 500px;
    height: 400px;
}

.ytmusic {
    margin: 10px;
    background-color: rgb(196, 33, 33);
    border-radius: 12px;
    width: 500px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-self: center;
}

.ytmusic img {
    display: block;
    height: 100%;
}

.album-link-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.mobile{
    text-align: center;
    font-size: 2rem;
}
@media screen and (min-width: 300px) and (max-width: 380px) {
    .link{
        margin-right: 30px;
    }
    .text-logo{
        display: none;
    }

    .logo {
        width: 80px;
        margin-left: 20px;
    }

    .subpage-section-one img{
        width: 280px;
    }

    .nav_strap {
        z-index: 4;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.75);
        height: 90px;
        position: fixed;
        top: 0;
        transition-duration: 0.2s;
        backdrop-filter: blur(3px);
    }

    .navigator_tab {
        width: 100%;
        margin: 0 auto;
    }

    .hide {
        top: -90px;
    }

    .hidden {
        visibility: hidden;
    }
    
    ol {
        font-size: 1rem;
    }
    
    li {
        margin: 5px 0;
    }
    .push{
        margin-left: 0px;
    }
    li span {
        margin: 0 0px;
    }
    .subpage-section-two h1 {
        font-size: 1.6rem;
        color: black;
        margin: 100px 0px 50px;
    }
    .ytmusic {
        margin: 10px;
        background-color: rgb(196, 33, 33);
        border-radius: 12px;
        width: 270px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-self: center;
    }
    iframe{
        width: 250px;
        margin: 10px auto;
    }
    .To-top {
        width: 40px;
        height: 40px;
        font-size: 1.25rem;
    }
    .subpage-section-one {
        margin-top: -80px;
        background-size: 300vw 100vh;
    }
    .polygon {
        margin-top: -80px;
        position: absolute;
        top: 600px;
        width: 100%;
        height: 421px;
        background-color: white;
        clip-path: polygon(0% 56%, 4% 64%, 10% 63%, 14% 66%, 19% 66%, 23% 65%, 26% 68%, 31% 69%, 36% 68%, 40% 67%, 45% 69%, 45% 69%, 51% 69%, 55% 68%, 59% 70%, 62% 70%, 68% 70%, 75% 70%, 77% 69%, 80% 69%, 85% 72%, 89% 71%, 92% 70%, 95% 71%, 97% 69%, 100% 67%, 100% 100%, 0% 100%);
    }
}

@media screen and (min-width: 380px) and (max-width: 430px) {
    .link{
        margin-right: 30px;
    }
    
    .text-logo{
        display: none;
    }

    .logo {
        width: 80px;
        margin-left: 20px;
    }

    .subpage-section-one img{
        width: 300px;
    }

    .nav_strap {
        z-index: 4;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.75);
        height: 90px;
        position: fixed;
        top: 0;
        transition-duration: 0.2s;
        backdrop-filter: blur(3px);
    }

    .navigator_tab {
        width: 100%;
        margin: 0 auto;
    }

    .hide {
        top: -80px;
    }
    
    .subpage-section-two h1 {
        font-size: 2rem !important;
        color: black;
        margin: 100px 0px 50px;
    }
    
    ol {
        font-size: 1.4rem;
    }
    
    li {
        margin: 5px 0;
    }
    .push{
        margin-left: 0px;
    }
    li span {
        margin: 0 0px;
    }
    .ytmusic {
        margin: 10px;
        background-color: rgb(196, 33, 33);
        border-radius: 12px;
        width: 300px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-self: center;
    }
    iframe{
        width: 300px;
        margin: 10px auto;
    }
    .To-top {
        width: 40px;
        height: 40px;
        font-size: 1.25rem;
    }
    .subpage-section-one {
        margin-top: -80px;
        background-size: 300vw 100vh;
    }
    .polygon {
        margin-top: -80px;
        position: absolute;
        top: 600px;
        width: 100%;
        height: 421px;
        background-color: white;
        clip-path: polygon(0% 56%, 4% 64%, 10% 63%, 14% 66%, 19% 66%, 23% 65%, 26% 68%, 31% 69%, 36% 68%, 40% 67%, 45% 69%, 45% 69%, 51% 69%, 55% 68%, 59% 70%, 62% 70%, 68% 70%, 75% 70%, 77% 69%, 80% 69%, 85% 72%, 89% 71%, 92% 70%, 95% 71%, 97% 69%, 100% 67%, 100% 100%, 0% 100%);
    }
}
@media screen and (min-width: 430px) and (max-width: 480px) {
    .link{
        margin-right: 30px;
    }
    
    .text-logo{
        display: none;
    }

    .logo {
        width: 80px;
        margin-left: 20px;
    }

    .subpage-section-one img{
        width: 380px;
    }

    .nav_strap {
        z-index: 4;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.75);
        height: 90px;
        position: fixed;
        top: 0;
        transition-duration: 0.2s;
        backdrop-filter: blur(3px);
    }
    
    .subpage-section-two h1 {
        font-size: 2.5rem !important;
        color: black;
        margin: 100px 0px 50px;
    }
    
    ol {
        font-size: 1.6rem;
    }
    
    li {
        margin: 5px 0;
    }
    .push{
        margin-left: 0px;
    }
    li span {
        margin: 0 0px;
    }
    .ytmusic {
        margin: 10px;
        background-color: rgb(196, 33, 33);
        border-radius: 12px;
        width: 300px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-self: center;
    }
    iframe{
        width: 300px;
        margin: 10px auto;
    }
    .To-top {
        width: 60px;
        height: 60px;
        font-size: 1.75rem;
    }
    .subpage-section-one {
        margin-top: -80px;
        background-size: 300vw 100vh;
    }
    .polygon {
        margin-top: -80px;
        position: absolute;
        top: 600px;
        width: 100%;
        height: 421px;
        background-color: white;
        clip-path: polygon(0% 56%, 4% 64%, 10% 63%, 14% 66%, 19% 66%, 23% 65%, 26% 68%, 31% 69%, 36% 68%, 40% 67%, 45% 69%, 45% 69%, 51% 69%, 55% 68%, 59% 70%, 62% 70%, 68% 70%, 75% 70%, 77% 69%, 80% 69%, 85% 72%, 89% 71%, 92% 70%, 95% 71%, 97% 69%, 100% 67%, 100% 100%, 0% 100%);
    }
}
@media screen and (min-width: 480px) and (max-width: 600px) {
    .link{
        margin-right: 30px;
    }
    
    .text-logo{
        display: none;
    }

    .logo {
        width: 80px;
        margin-left: 20px;
    }

    .subpage-section-one img{
        width: 380px;
    }

    .nav_strap {
        z-index: 4;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.75);
        height: 90px;
        position: fixed;
        top: 0;
        transition-duration: 0.2s;
        backdrop-filter: blur(3px);
    }
    
    .subpage-section-two h1 {
        font-size: 2.5rem !important;
        color: black;
        margin: 100px 0px 50px;
    }
    
    ol {
        font-size: 1.6rem;
    }
    
    li {
        margin: 5px 0;
    }
    .push{
        margin-left: 0px;
    }
    li span {
        margin: 0 0px;
    }
    .ytmusic {
        margin: 10px;
        background-color: rgb(196, 33, 33);
        border-radius: 12px;
        width: 360px;
        height: 250px;
        display: flex;
        justify-content: center;
        align-self: center;
    }
    iframe{
        width: 360px;
        margin: 10px auto;
    }
    .To-top {
        width: 70px;
        height: 70px;
        font-size: 2rem;
    }
    .subpage-section-one {
        margin-top: -80px;
        background-size: 300vw 100vh;
    }
    .polygon {
        margin-top: -80px;
        position: absolute;
        top: 600px;
        width: 100%;
        height: 421px;
        background-color: white;
        clip-path: polygon(0% 56%, 4% 64%, 10% 63%, 14% 66%, 19% 66%, 23% 65%, 26% 68%, 31% 69%, 36% 68%, 40% 67%, 45% 69%, 45% 69%, 51% 69%, 55% 68%, 59% 70%, 62% 70%, 68% 70%, 75% 70%, 77% 69%, 80% 69%, 85% 72%, 89% 71%, 92% 70%, 95% 71%, 97% 69%, 100% 67%, 100% 100%, 0% 100%);
    }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
    .link{
        margin-right: 30px;
    }
    
    .text-logo{
        display: none;
    }

    .logo {
        width: 80px;
        margin-left: 20px;
    }

    .subpage-section-one img{
        width: 500px;
        margin-bottom: 200px;
    }

    .nav_strap {
        z-index: 4;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.75);
        height: 90px;
        position: fixed;
        top: 0;
        transition-duration: 0.2s;
        backdrop-filter: blur(3px);
    }
    
    .subpage-section-two h1 {
        font-size: 2.5rem !important;
        color: black;
        margin: 100px 0px 50px;
    }
    
    ol {
        font-size: 1.6rem;
    }
    
    li {
        margin: 5px 0;
    }
    .push{
        margin-left: 0px;
    }
    li span {
        margin: 0 0px;
    }
    .ytmusic {
        margin: 10px;
        background-color: rgb(196, 33, 33);
        border-radius: 12px;
        width: 360px;
        height: 250px;
        display: flex;
        justify-content: center;
        align-self: center;
    }
    iframe{
        width: 360px;
        margin: 10px auto;
    }
    .To-top {
        width: 70px;
        height: 70px;
        font-size: 2rem;
    }
    .subpage-section-one {
        margin-top: -80px;
        background-size: 300vw 100vh;
    }
    .polygon {
        margin-top: -80px;
        position: absolute;
        top: 600px;
        width: 100%;
        height: 421px;
        background-color: white;
        clip-path: polygon(0% 56%, 4% 64%, 10% 63%, 14% 66%, 19% 66%, 23% 65%, 26% 68%, 31% 69%, 36% 68%, 40% 67%, 45% 69%, 45% 69%, 51% 69%, 55% 68%, 59% 70%, 62% 70%, 68% 70%, 75% 70%, 77% 69%, 80% 69%, 85% 72%, 89% 71%, 92% 70%, 95% 71%, 97% 69%, 100% 67%, 100% 100%, 0% 100%);
    }
}
@media screen and (min-width: 768px) and (max-width: 1070px) {
    .link{
        margin-right: 30px;
    }
    
    .text-logo{
        display: none;
    }

    .logo {
        width: 80px;
        margin-left: 20px;
    }

    .subpage-section-one img{
        width: 500px;
        margin-bottom: 200px;
    }

    .nav_strap {
        z-index: 4;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.75);
        height: 90px;
        position: fixed;
        top: 0;
        transition-duration: 0.2s;
        backdrop-filter: blur(3px);
    }
    
    .subpage-section-two h1 {
        font-size: 2.5rem !important;
        color: black;
        margin: 100px 0px 50px;
    }
    
    ol {
        font-size: 1.6rem;
    }
    
    li {
        margin: 5px 0;
    }
    .push{
        margin-left: 0px;
    }
    li span {
        margin: 0 0px;
    }
    .ytmusic {
        margin: 10px;
        background-color: rgb(196, 33, 33);
        border-radius: 12px;
        width: 360px;
        height: 250px;
        display: flex;
        justify-content: center;
        align-self: center;
    }
    iframe{
        width: 360px;
        margin: 10px auto;
    }
    .To-top {
        width: 70px;
        height: 70px;
        font-size: 2rem;
    }
    .subpage-section-one {
        margin-top: -80px;
        background-size: 100vw 100vh;
    }
    .polygon {
        margin-top: -80px;
        position: absolute;
        top: 600px;
        width: 100%;
        height: 421px;
        background-color: white;
        clip-path: polygon(0% 56%, 4% 64%, 10% 63%, 14% 66%, 19% 66%, 23% 65%, 26% 68%, 31% 69%, 36% 68%, 40% 67%, 45% 69%, 45% 69%, 51% 69%, 55% 68%, 59% 70%, 62% 70%, 68% 70%, 75% 70%, 77% 69%, 80% 69%, 85% 72%, 89% 71%, 92% 70%, 95% 71%, 97% 69%, 100% 67%, 100% 100%, 0% 100%);
    }
}
@media screen and (min-width: 1070px){
    .subpage-section-one {
        width: 100%;
        height: 1000px;
        margin-top: -160px;
        background-attachment: fixed;
        background-size: 100%;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-attachment: fixed;
    }
}